/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


.site-top{
  background-color: rgb(238, 238, 238);
  .phx-hero {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
    text-align: left;

    h1 {
      font-size: 3em;
    }

    input {
      height: 44px;
    }

    button {
      height: 44px;
    }

    .results {
      font-size: 1.2em;
    }
  }
}


body {
  margin: 0;
  padding: 0;
}

.sr-only {
  display: none;
}
.left-text {

}

.bottom-container {
  .container {
      margin-right: auto;
      margin-left: auto;
      max-width: 1500px;
  }
}


@media (min-width: 768px)  {
  .form-row {
    display: flex;

    gap: 10px 10px;
    .main-input {
       flex-grow: 4;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
      margin: 10px;
      flex-basis: 300px;
      flex-grow: 2;
      max-width: 440px;
    }
  }

}

@media (max-width: 767px) {
  .form-row {
    display: flex;
    flex-direction: column;

    gap: 10px 10px;
  }

  .row {
    display: flex;
    flex-direction: column;

    > div {
      margin: 10px;
      min-width: 300px;
    }
  }
}
