<%= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f -> %>
  <fieldset class="torch-panel">
    <legend>
      <span>Details</span>
    </legend>
    <%= if @changeset.action do %>
      <p class="torch-form-error">
        Oops, something went wrong! Please check the errors below.
      </p>
    <% end %>

    <div class="torch-form-group">
      <%= label f, :url %>
      <%= text_input f, :url %>
      <%= error_tag f, :url %>
    </div>

    <div class="torch-form-group">
      <%= label f, :slug %>
      <%= text_input f, :slug %>
      <%= error_tag f, :slug %>
    </div>

    <div class="torch-form-group">
      <%= label f, :slug_id %>
      <%= number_input f, :slug_id %>
      <%= error_tag f, :slug_id %>
    </div>

    <div class="torch-submit-form">
      <%= submit "Submit", class: "torch-submit-button" %>
    </div>
  </fieldset>
<% end %>
