<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Url", to: Routes.admin_url_path(@conn, :new) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Urls</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        <div class="field">
          <label>Url</label>
          <%= filter_select(:url, :url, @conn.params) %>
          <%= filter_string_input(:url, :url, @conn.params) %>
        </div>

        <div class="field">
          <label>Slug</label>
          <%= filter_select(:url, :slug, @conn.params) %>
          <%= filter_string_input(:url, :slug, @conn.params) %>
        </div>

        <div class="field">
          <label>Slug</label>
          <%= number_filter_select(:url, :slug_id, @conn.params) %>
          <%= filter_number_input(:url, :slug_id, @conn.params) %>
        </div>

        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.admin_url_path(@conn, :index) %>
      <% end %>
    </section>

    <section id="torch-table">
      <%= if length(@urls) > 0 do %>
        <table>
          <thead>
            <tr>
              <th><%= table_link(@conn, "Url", :url) %></th>

              <th><%= table_link(@conn, "Slug", :slug) %></th>

              <th><%= table_link(@conn, "Slug", :slug_id) %></th>

              <th><%= table_link(@conn, "Inserted at", :inserted_at) %></th>

              <th><%= table_link(@conn, "Site id", :site_id) %></th>

              <th><span>Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <%= for url <- @urls do %>
              <tr>
                <td><%= url.url %></td>

                <td><%= url.slug %></td>

                <td><%= url.slug_id %></td>

                <td><%= url.inserted_at %></td>

                <td><%= url.site_id %></td>

                <td class="torch-actions">
                  <span><%= link "Show", to: Routes.admin_url_path(@conn, :show, url) %></span>
                  <span><%= link "Edit", to: Routes.admin_url_path(@conn, :edit, url) %></span>
                  <span><%= link "Delete", to: Routes.admin_url_path(@conn, :delete, url), method: :delete, data: [confirm: "Are you sure?"] %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render Torch.PaginationView, "_pagination.html", assigns %>
      <% else %>
        <p class="torch-no-data">No Urls match your search.</p>
      <% end %>
    </section>
  </div>
</section>
