<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Shortly", suffix: " · Phoenix Framework" %>
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
    <script
      defer
      type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li>
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
              </li>
              <span
                ><a
                  href="<%= Routes.pow_registration_path(@conn, :edit) %>"
                ><%= @current_user.email %></a
              ></span>
              <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
            <% end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img
            src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>"
            alt="Phoenix Framework Logo"
          />
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
