<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Visit", to: Routes.admin_visit_path(@conn, :new) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Visits</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        <div class="field">
          <label>Referrer</label>
          <%= filter_select(:visit, :referrer, @conn.params) %>
          <%= filter_string_input(:visit, :referrer, @conn.params) %>
        </div>

        <div class="field">
          <label>User agent</label>
          <%= filter_select(:visit, :user_agent, @conn.params) %>
          <%= filter_string_input(:visit, :user_agent, @conn.params) %>
        </div>

        <div class="field">
          <label>Url</label>
          <%= number_filter_select(:visit, :url_id, @conn.params) %>
          <%= filter_number_input(:visit, :url_id, @conn.params) %>
        </div>

        <div class="field">
          <label>Site</label>
          <%= number_filter_select(:visit, :site_id, @conn.params) %>
          <%= filter_number_input(:visit, :site_id, @conn.params) %>
        </div>

        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.admin_visit_path(@conn, :index) %>
      <% end %>
    </section>

    <section id="torch-table">
      <%= if length(@visits) > 0 do %>
        <table>
          <thead>
            <tr>
              <th><%= table_link(@conn, "Referrer", :referrer) %></th>

              <th><%= table_link(@conn, "User agent", :user_agent) %></th>

              <th><%= table_link(@conn, "Url", :url_id) %></th>

              <th><%= table_link(@conn, "Inserted at", :inserted_at) %></th>

              <th><%= table_link(@conn, "Site id", :site_id) %></th>

              <th><span>Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <%= for visit <- @visits do %>
              <tr>
                <td><%= visit.referrer %></td>

                <td><%= visit.user_agent %></td>

                <td><%= visit.url_id %></td>

                <td><%= visit.inserted_at %></td>

                <td><%= visit.site_id %></td>

                <td class="torch-actions">
                  <span><%= link "Show", to: Routes.admin_visit_path(@conn, :show, visit) %></span>
                  <span><%= link "Edit", to: Routes.admin_visit_path(@conn, :edit, visit) %></span>
                  <span><%= link "Delete", to: Routes.admin_visit_path(@conn, :delete, visit), method: :delete, data: [confirm: "Are you sure?"] %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render Torch.PaginationView, "_pagination.html", assigns %>
      <% else %>
        <p class="torch-no-data">No Visits match your search.</p>
      <% end %>
    </section>
  </div>
</section>
