<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.admin_visit_path(@conn, :edit, @visit), class: "torch-button" %>
    <%= link "Back", to: Routes.admin_visit_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Visit Details</h3>
    </div>
    <ul>
      <li>
        <div class="torch-show-label">Referrer:</div>
        <div class="torch-show-data"><%= @visit.referrer %></div>
      </li>

      <li>
        <div class="torch-show-label">User agent:</div>
        <div class="torch-show-data"><%= @visit.user_agent %></div>
      </li>

      <li>
        <div class="torch-show-label">Url:</div>
        <div class="torch-show-data"><%= @visit.url_id %></div>
      </li>

      <li>
        <div class="torch-show-label">Inserted at:</div>
        <div class="torch-show-data"><%= @visit.inserted_at %></div>
      </li>

      <li>
        <div class="torch-show-label">Site:</div>
        <div class="torch-show-data"><%= @visit.site_id %></div>
      </li>
    </ul>
  </div>
</section>
