<div class="site-top">
  <section class="phx-hero">
    <p
      class="alert alert-info"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"
    ><%= live_flash(@flash, :info) %></p>
    <p
      class="alert alert-danger"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"
    ><%= live_flash(@flash, :error) %></p>

    <h1>Skracovač dlhých odkazov!</h1>
    <div id="shorten_form">
      <form phx-submit="shorten" class="form-inline">
        <div class="form-row">
          <div class="main-input">
            <label class="sr-only" for="url">Dlhý odkaz</label>
            <input
              class="form-control input-lg"
              type="text"
              name="url"
              placeholder="Dlhý odkaz"
              maxlength="2200"
              autocomplete="off"
              value="<%= @input_url %>"
            />
          </div>
          <div class="gr-1">
            <label class="sr-only" for="url">Alias</label>
            <input
              class="form-control input-lg"
              type="text"
              placeholder="Alias"
              name="slug"
              maxlength="50"
              autocomplete="off"
              value="<%= @slug %>"
            />
          </div>
          <div class="gr-1">
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              phx-disable-with="Smrdím..."
            >
              Skrátiť!
            </button>
          </div>
        </div>
        <hr />
        <div class="results">
          <p class="lead">
            Dlhý odkaz: <a href="<%= @long_url %>"><%= @long_url %></a>
          </p>
          <p class="lead">
            Skrátený odkaz: <a href="<%= @short_url %>"><%= @short_url %></a>
          </p>
          <p class="lead">Ľudia tu smrdeli už <%= @num_redirects %> krát.</p>
        </div>
      </form>
    </div>
  </section>
</div>
<div class="bottom-container">
  <div class="container">
    <div class="row">
      <div>
        <h2>Naozaj smradľavé adersy</h2>
        <p>
          Za adresu smrdim.cz sa doplnia momentálne 3 znaky. Čím vzniká cool
          smradľavá adresa, ktorá je naozaj jednoduchá na zapamätanie.
        </p>
      </div>
      <div>
        <h2>Trvácnosť</h2>
        <p>
          Prevádzkovateľ garantuje stálosť adries po dobu minimálne jeden rok.
          Samozrejme s pravdepodobnosťou blížiacou sa istote budú tieto adresy
          smradľavé aj dlho po tejto dobe.
        </p>
      </div>
      <div>
        <h2>Moderné technológie</h2>
        <p>
          Tento web beží na platforme
          <a
            href="https://www.youtube.com/watch?v=rRbY3TMUcgQ"
            target="_blank"
            rel="noopener"
            >OTP (Outlaw techno psychobitch)</a
          >. Kvalita zaručená!
        </p>
      </div>
      <div>
        <h2>Varovanie Ministerstva zdravotníctva</h2>
        <p>
          Smrad môže byť nebezpečný pre Vás a vaše okolie. Dodržujte preto
          osobnú hygienu.
        </p>
      </div>
    </div>
    <hr />
    <footer>
      <p>&copy; <a href="http://mums.cz/">Don Mums</a> 2013 - <%= @year %></p>
    </footer>
  </div>
</div>
