<%= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f -> %>
  <fieldset class="torch-panel">
    <legend>
      <span>Details</span>
    </legend>
    <%= if @changeset.action do %>
      <p class="torch-form-error">
        Oops, something went wrong! Please check the errors below.
      </p>
    <% end %>

    <div class="torch-form-group">
      <%= label f, :host %>
      <%= text_input f, :host %>
      <%= error_tag f, :host %>
    </div>

    <div class="torch-form-group">
      <%= label f, :url %>
      <%= text_input f, :url %>
      <%= error_tag f, :url %>
    </div>

    <div class="torch-form-group">
      <%= label f, :title %>
      <%= text_input f, :title %>
      <%= error_tag f, :title %>
    </div>

    <div class="torch-form-group">
      <%= label f, :template %>
      <%= text_input f, :template %>
      <%= error_tag f, :template %>
    </div>

    <div class="torch-form-group">
      <%= label f, :favicon_path %>
      <%= text_input f, :favicon_path %>
      <%= error_tag f, :favicon_path %>
    </div>

    <div class="torch-form-group">
      <%= label f, :is_public %>
      <%= checkbox f, :is_public %>
      <%= error_tag f, :is_public %>
    </div>

    <div class="torch-submit-form">
      <%= submit "Submit", class: "torch-submit-button" %>
    </div>
  </fieldset>
<% end %>
